@import "mixins/_media-queries.scss";
@import "mixins/_components.scss";

.content-cards{
  &__list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title{
    margin-bottom: 60px;
  }
  &__item{
    width: calc((100% - 30px)/4);
    padding: 10px 10px 60px;
    text-align: center;
    &-image{
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 30px;
    }
    &-title{
      font-family: 'GT Super Display', serif;
      font-weight: 400;
      font-size: 3.2rem;
      line-height: 3.2rem;
      margin-bottom: 10px;
    }
    &-text{
      font-family: 'GT Super Display', serif;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8rem;
      margin-bottom: 16px;
    }
    &-link{
      font-size: 1.2rem;
      line-height: 1.2rem;
      a{
        @include btn-primary();
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
    }
  }
  @include to-md{
    &__item{
      width: calc(50% - 5px);
    }
  }
  @include to-sm{
    &__item{
      &-image{
        margin-bottom: 10px;
      }
      &-title{
        font-size: 2rem;
        line-height: 2rem;
      }
      &-text{
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
    }
    &__title{
      margin: 0 0 40px;
    }
  }
}
