@import "mixins/_media-queries.scss";
@import "mixins/_components.scss";

.banner-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &__item{
    width: calc(50% - 5px);
    position: relative;
    &-image{
      max-width: 100%;
      height: auto;
      display: block;
    }
    &-content{
      position: absolute;
      bottom: 0;
      padding: 0 30px 40px;
      text-align: center;
      color: rgb(var(--color-base-solid-button-labels));
    }
    &-title{
      font-family: 'GT Super Display', serif;
      font-weight: 400;
      font-size: 6.4rem;
      line-height: 6.4rem;
      margin-bottom: 21px;
    }
    &-link{
      font-size: 1.6rem;
      line-height: 1.6rem;
      a{
        @include btn-primary(rgb(var(--color-base-solid-button-labels)));
      }
    }
  }
  @include to-md{
    &__item{
      &-title{
        font-size: 3rem;
      }
    }
  }
  @include to-sm{
    &__item{
      width: 100%;
    }
  }
}
